div#anim{
    background: url("/images/fondo.png") no-repeat top left;
    width: 1000px;
    height: 726px;
    padding: 0;
}

div#mensajes{
    position: absolute;
    background: url("/images/mensajes.png") no-repeat top center;
    background-size: cover;
    background-position-y: 3%;
    width: 409px;
    height: 250px;
    padding: 0;
    right: 100%;
    left: 320px;
    top: 150px;
    animation: movMensaje 8s linear 2s forwards;
}
#nube{
    position: relative;
    background: url("/images/nube.png") no-repeat top right;
    background-size: cover;
    width: 256px;
    height: 141px;
    padding: 0;
    right: 100%;
    left: 720px;
    top: 10px;
    opacity: 0;
    animation: movNube 30s linear 2s;
}
div#sol{
    position: absolute;
    background: url("/images/sol.png") no-repeat top right;
    background-size: cover;
    width: 150px;
    height: 150px;
    padding: 0;
    right: 100%;
    left: 800px;
    top: 20px;
    opacity: 0;
    animation: movSol 8s linear 32s forwards;
}
div#lluvia{
    position: relative;
    background: url("/images/agua.png") no-repeat bottom center;
    background-size: 150px;
    width: 150px;
    height: 0px;
    padding: 0;
    right: 100%;
    left: 60px;
    top: 140px;
    animation: movLluvia 10s linear 13s forwards;
}
div#flor{
    position: absolute;
    background: url("/images/flor.png") no-repeat bottom right;
    background-size: cover;
    width: 200px;
    height: 200px;
    padding: 0;
    right: 100%;
    left: 425px;
    top: 546px;
    opacity: 0;
    animation: movFlor 12s linear 40s forwards;
}

@keyframes movMensaje{
    10%{
        opacity: 0;
        background-position-y: 3%;
    }
    20%{
        opacity: 0;
        background-position-y: 34.5%;
    }
    30%{
        opacity: 1;
        background-position-y: 34.5%;
    }
    40%{
        opacity: 0;
        background-position-y: 34.5%;
    }
    50%{
        opacity: 0;
        background-position-y: 68%;
    }
    60%{
        opacity: 1;
        background-position-y: 68%;
    }
    70%{
        opacity: 0;
        background-position-y: 68%;
    }
    80%{
        opacity: 0;
        background-position-y: 100%;
    }
    90%{
        opacity: 1;
        background-position-y: 100%;
    }
    100%{
        opacity: 0;
        background-position-y: 100%;
    }
}

@keyframes movNube{
    10% {
        opacity: 1;
        left: 720px;
    }
    25%{
        left: 390px;
        opacity: 1;
    }
    75%{
        left: 390px;
        opacity: 1;
    }
    100%{
        left:0;
    }
}
@keyframes movSol{
    20%{
        opacity: 1;        
    }
    100%{
        opacity: 1;
    }
}

@keyframes movLluvia{
    0%{
        top: 140px;
    }
    50%{
        height: 560px; 
        top: 140px;
    }
    60%{
        height: 560px; 
        background-position: top;
    }
    100%{
        background-position: top;
        top: 660px;
        height: 0px;
    }
}

@keyframes movFlor{
    0%{ 
        opacity: 1;
        transform: translateY(100%);
        background-position-y: 100%;
        
    }
    100%{
        background-position-y: 0%;
        transform: translateY(0%);

    }
}