#anim{
    background: url(/images/fondo.png) no-repeat top left;
    width: 1000px;
    height: 726px;
    padding: 0;
}

#mensajes{
    position: absolute;
    background: url(/images/mensajes.png) no-repeat top center;
    background-size: cover;
    width: 409px;
    height: 280px;
    padding: 0;
    right: 100%;
    left: 320px;
    top: 150px;
    /* opacity: 0; */
    animation: movMensaje 12s linear 2s;
}
#nube{
    position: relative;
    background: url(/images/nube.png) no-repeat top right;
    background-size: cover;
    width: 192px;
    height: 106px;
    padding: 0;
    right: 100%;
    left: 800px;
    top: 10px;
    opacity: 0;
    animation: movNube 12s linear 2s;
}
#sol{
    position: absolute;
    background: url(/images/sol.png) no-repeat top right;
    background-size: cover;
    width: 150px;
    height: 150px;
    padding: 0;
    right: 100%;
    left: 800px;
    top: 20px;
    opacity: 0;
    animation: movSol 8s linear 9s forwards;
}
#lluvia{
    position: relative;
    background: url(/images/agua.png) no-repeat top center;
    background-size: 150px;
    width: 150px;
    height: 50px;
    padding: 0;
    right: 100%;
    left: 20px;
    top: 100px;
    /* opacity: 0; */
    animation: movLluvia 8s linear 4s forwards;
}

@keyframes movNube{
    0% {
        opacity: 1;
    }
    25%{
        left: 404px;
        opacity: 1;
    }
    75%{
        left: 404px;
        opacity: 1;
    }
    100%{
        left:0;
    }
}
@keyframes movSol{
    20%{
        opacity: 1;        
    }
    100%{
        opacity: 1;
    }
}

@keyframes movLluvia{
    25%{
        height: 700px; 

    }
    50%{
        height: 500px; 
    }
    99%{
        top: 600px;
        height: 50px;
    }
    100%{
        /* opacity: 0; */
    }
}